.sidebar {
    width: 90px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    gap: 30px;
    justify-content: center;
    margin-right: 20px;
    margin-top: 30vh;
    background-color: #242424;
    border-radius: 20px;
    animation: 1s slide-right;
  }
  
  .sidebar a {
    padding-left: 20px;
    padding-top: 10%;
    height: 60px;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 1s;
  }
  
  .sidebar a:hover {
    background-color: #15883b;
    width: 78%;
  }

  .sidebar img {
    height: 50px;
  }

  