  #root {
    max-width: 1280px;
    margin: 0 auto;
  }

  .desc {
    height: 100%;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-left: 90px;
    margin-bottom: 40px;
    animation: 2s pop-animation;
  }

  .text-green {
    color: #15883b;
  }

  .wave {
    display: inline-block;
    animation: animate-wave 1200ms infinite ease-in-out;
  }
  
  @keyframes animate-wave {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(60deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  
  .flexbox {
    display: flex;
    margin-left: 95px;
    background-color: #15883b;
    border-radius: 50px;
    animation: pop-animation 1500ms 200ms backwards;
  }

  @keyframes pop-animation {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .headshot {
    max-width: 28vw;
    max-height: fit-content;
    height: auto;
    border-radius: 50px;
    margin: 3px;
    transition: transform 300ms ease;
  }

  .headshot:hover {
    transform: scale(1.02);
  }

  p {
    margin: 20px;
    font-size:30px;
    font-family: Arial;
  }