.technology__img {
    width: 100%;
    max-width: 100px;
    min-width: 50px;
    transition: all 300ms;
  }

  .technology:hover .technology__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
  }
  
  .technology {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .technology__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
  }
  
  .technology__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 50px;
  }
  
  .technology__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
    opacity: 0;
  }

  .technology:hover .technology__name {
    transform: scale(1);
    opacity: 1;
  }